{% extends "base.html" %}

{% block title %}Home - Todo Application{% endblock %}


{% block content %}

<div class="container mb-3">
    <div class="row">
      <div class="col-12 text-right">
          <a href="task" class="btn btn-primary border">Creaate new</a>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        {% for task in tasks %}
            <div class="col-sm-4">
                <a class="border p-3 mb-3 d-block" href="task/{{task.id}}" style="border-radius: 8px;">
                    <h5>{{task.title}}</h3>
                    <p>{{task.description}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
  </div>
  {% endblock %}